# Dependencies
node_modules/
package-lock.json

# Distribution
dist/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
.DS_Store

# Logs
logs/
*.log
npm-debug.log*

# Misc
.cache/
build/
